<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filePath" value="C:\Users\user\source\repos\TournamentTracker\Data\Tournaments"/>
		<add key="greaterWins" value="1"/>
	</appSettings>
	<connectionStrings>
		<!--SQL-->
		<add name="Tournaments" connectionString="Server=.\SQLEXPRESS01;Database=Tournaments;Trusted_Connection=True" providerName="System.Data.SqlClient"/>
		<!--<add name="Tournaments" connectionString="Server=DESKTOP-OFG4K9Q;Database=Tournaments;Trusted_Connection=True" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>